.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="text"] {
    padding:20px 30px;
    color: #0f380f;
    font-size: 24px;
    font-weight: bold;
    background-color: #9bbc0f;
    border-radius: 5px;
    border: 3px solid #0f380f;
}
input[type="button"]  {
    width:100%;
    padding: 20px 33px;
    background-color: #8bac0f;
    color: #0f380f;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #0f380f;
    border-radius: 5px;
}
.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
}
.piedepagina {
    position: absolute;
    top: 97%;
    left: 88%;
}

a:link {
    color:black;
}

a:hover {
    color:gray;
}

a:visited {
    color:black;
}

body {
    background-color: 	#bfc4a9;
}
